{{#name}}
## Class: {{name}}

{{/name}}
{{#description}}{{{description}}}{{/description}}

{{#members}}
**{{name}}**: {{#typesString}}`{{typesString}}`{{/typesString}} {{#description}}, {{{description}}}{{/description}}
{{/members}}
{{#methods}}
{{> function}}
{{/methods}}
